@model IEnumerable<NGOWebApp.Models.ViewModels.ProgramDonateVM>
@{
    ViewData["Title"] = "Event";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Upcoming Events</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Events</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Event Start -->
<div class="event">
    <div class="container">
        <div class="section-header text-center">
            <p>Upcoming Events</p>
            <h2>Be ready for our upcoming charity events</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="~/@item.Programs.Photo" alt="Image">
                    <div class="event-content" >
                        <div class="event-meta">
                            <p><i class="fa fa-calendar-alt"></i>@item.Programs.Duration.ToString("dd MMM yyy")</p>
                            @if (item.DateDiff >= 0 && item.Programs.Status == 1)
                            {
                                <p><i class="far fa-clock"></i>@item.DateDiff Days</p>
                            }
                            <p><i class="fa fa-map-marker-alt"></i>Viet Nam</p>
                            @if (item.Programs.Status == 2)
                            {
                                <span class="badge badge-warning">The campaign is over</span>
                            }                                                    
                        </div>
                        <div class="event-text">
                            <div style="height:180px">
                                <h3>@item.Programs.ShortContent</h3>
                            </div>                       
                            <div class="causes-btn">
                                <a class="btn btn-custom" asp-action="Details" asp-controller="Event" asp-route-Id="@item.Programs.Id">Learn More</a>
                                @if (item.Programs.Status == 1)
                                {
                                    <a class="btn btn-custom">Donate Now</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                
            }

        </div>
    </div>
</div>
<!-- Event End -->
